*{
  background-color:grey;
  /* padding: 0; */
  /* margin: 0; */
  /* background-image: url(../assets/images/bg_image.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p:first-child {
  color: lightblue;
}

p:last-child{
  color:red;
}
p:nth-child(even) {
  
  color: red;
}
table {
  border: red;
}
table tr:nth-child(even) {
  color: red;
}
/* table tr:nth-child(odd) { */
/*   background-color:lightgray; */
/* } */
/**/

p::first-line{
  font-size: 20px;
}
p::first-letter{
  font-size: 42px;
  color: black;
}
p::selection{
  color: limegreen;
}
section ul li::marker{
  content: ">";
  color: red;
}
.imagetest{
  background-image: url(../assets/images/bg_image.webp);
  height: 100vh;

  /* here 100vh is the full height of the screen */
  background-repeat: no-repeat;
  background-size:cover;
  background-size:auto;
  /* background-position: left; */
  /* background-position:right; */
  /* background-position: top; */
  /* background-position: bottom; */
  background-attachment: fixed;
}
.textstyle p{
  text-align: center;
  text-align: end;
  text-align: justify;
  color: white;
  /* text-decoration: line-through; */
  /* text-decoration: underline; */
  /* text-decoration: dotted; */
  /* text-decoration: solid; */
  /* text-decoration: peru; */
  /* text-decoration: none; */
  text-indent: 20px;
  /* text-shadow: 2px 2px 5px rgb(123, 122, 122); */
  text-transform: capitalize;
  text-shadow: 2px 2px 5px red;
  text-wrap: wrap;
  text-overflow: clip;
  text-overflow: clip;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-weight: bolder;
  font-style: italic;
  /* font-style: none; */
  /* font-style: oblique; */
  word-wrap:break-word;
  word-break: break-all;
  /* word-spacing: 20px; */
  word-spacing: default;
  line-height: 1.5;
  /* line-break: anywhere; */
  /* line-break: loose; */
  /* line-break: normal; */
  line-break:auto;
}


.boxmodel {
  border: 1px solid white;
  /* so he value starts from the top and then right then bottom and then left  */
  /* it moves clock wise here  */
  /* margin lines in the oter sider of the box here  */
  /* margin: 20px; */
  /* margin 20px 20px 20px 20px; */
  /* margin: 20px 20px 20px; */
  /* margin: 20px 20px; */
  /* margin: 20px; */
  /* padding also works in kinda similar way here like that it did in the previous way */
  /* padding lies in the inner side compared to that of the margin */
  
  /* padding: 10px 0px 1px 0px; */
  /* yah it is kinda similar here  */
  padding: 20px 20px 20px 20px;
}
/* here we are refering to the inner box of the bigger box there  */
/* .innerbox { */
/* we can use the both way the parent child method here and the direct class method here */
.boxmodel .innerbox {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  margin: 20px;
  /* padding for inside and the marigin for outside  */
  /* padding: 20px; */
  border-radius: 50px;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 50px;
  box-shadow: 2px 4px 3px 5px white;
  box-shadow: inset 2px 4px 3px 5px red;
  box-shadow:inset 2px 4px 3px 5px red, 2px 4px 3px 5px blue;
  box-shadow: 2px 4px 3px 5px red, 2px 4px 3px 5px blue;
  box-shadow: 2px 4px 3px 5px red, 2px 4px 3px 5px blue, 2px 4px 3px 5px green;
}

.mainbox{
  background-color: lightseagreen;
  margin: 20px 10px;
  padding: 20px 10px;
  /* display: inline; */
  /* inline shrinks the card or box and it is not visible */

  /* layout management property can be done with the use of the display flex */
  /* single dimensional it flexes in the default as row */
  display: flex;
  flex-direction: column;
  flex-direction:row-reverse;
  /* flex-direction:row; */
  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;

}
.boxone, .boxtwo, .boxthree, .boxfour, .boxfive{
  padding : 20px ;


  background-color: lightseagreen;
  margin: 20px ;
  /* display: inline; */
  /* display: block; */
  /* display: inline-block; */
  display: inline-table;
  /* display: table; */
  /* display: none; */
  /* display: contents; */
  /* thisline here will just show the contents with out andy  contetnts there  */
 }
.mainbox .boxone {
  background-color: lightcoral;
}
.mainbox .boxtwo {
  background-color:lightpink;
}
.mainbox .boxthree {
  background-color:lightblue;
}
.mainbox .boxfour {
  background-color:lightgreen;
}
.mainbox .boxfive {
  background-color:lightyellow;
}



