/* this is universal selector  */
* {
  margin: 0;
  padding: 0;
  background-color: grey;
  box-sizing: border-box;
  font: 16px Arial, sans-serif;
}

h1 {
  background-color: black;
  color: white;

};

h2 {
  color: red;
  background-color: gold;
};

.internal {
  color: white;
  background-color: lightsalmon;
}

  #internal {
    color: voilet;
    background-color: black;
  }

/* grouping selector */
th , td{
  padding: 10px;
}
/* parent child selector  */
.parent > .child > .grand-child {
  background-color: red;
  color:white;
}
.psudo button{
  margin: 10px;
  padding: 8px 20px;
  color: white;
  background-color: black;
  border-radius: 20px;
}
.psudo button:hover {
  background-color: white;
  border-radius: 20px;
  color: black;
  margin: 10px;
  padding: 8px 20px;
}


a:visited {
  color: green;
}
a:active{
  color: green;
}
a:link{
  color: brown;;
}
p:before{
  content: "This is before content";
}
p:after{
  content: "This is after content";
}
